{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>Welcome back, {{ current_user.name }}</h1>
        </div>
        <div class="panel panel-default">
            
            <div class="panel-heading">Courses</div>
            <div class="panel-body">
                <div class="container">
                    <div class="col-md-6">
                        <form class="form form-horizontal" method="post" role="form">
                            {{ adl_form.hidden_tag() }} 
                            {{ wtf.form_errors(adl_form, hiddens="only") }} 
                            {{ wtf.form_field(adl_form.course) }} 
                            {{ wtf.form_field(adl_form.datetime) }} 
                            {{ wtf.form_field(adl_form.adl_submit) }}
                        </form>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <th>Course</th>
                            <th>View</th>
                            {% for course in data %}
                                <tr>
                                    <td>{{course}}</td>
                                    <td><a href="administrator/course/{{course}}"><button type="button" class="btn btn-link">View</button></a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="panel-heading">Assign Student</div>
            <div class="panel-body">
                <form class="form form-horizontal" method="post" role="form">
                    <div class="container">
                        <div class="col-md-6 col-md-offset-3">
                            {{ ass_form.hidden_tag() }} 
                            {{ wtf.form_errors(ass_form, hiddens="only") }} 
                            {{ wtf.form_field(ass_form.user) }} 
                            {{ wtf.form_field(ass_form.course) }} 
                            {{ wtf.form_field(ass_form.ass_submit) }}
                        </div>
                    </div>
                </form>
            </div>

        <div>       
    </div>
{% endblock %}