{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">{{ data.code }}</div>
            <div class="panel-body">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3">
                        <table class="table table-condensed">
                            <th>ID</th>
                            <th>Time</th>
                            {% for course in data.lectures %}

                                <tr>
                                    <td>{{course.id}}</td>
                                    <td>{{course.time}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <form class="form form-horizontal" method="post" role="form">
                                {{ form.hidden_tag() }} 
                                {{ wtf.form_errors(form, hiddens="only") }} 
                                {{ wtf.form_field(form.course, readonly=true, value=data.code) }} 
                                {{ wtf.form_field(form.datetime) }} 
                                {{ wtf.form_field(form.submit) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}